---
swagger: "2.0"
info:
  version: "V1.0"
  title: "Infusionsoft REST API"
  termsOfService: "https://keys.developer.infusionsoft.com/apps/tos"
  contact:
    name: "Infusionsoft"
    url: "https://developer.infusionsoft.com/get-support/"
host: "api.infusionsoft.com"
basePath: "/crm/rest/v1"
tags:
- name: "Contact"
  description: "Contact-Custom-Fields-Endpoint"
- name: "Product"
  description: "Products-Endpoint"
- name: "Appointment"
  description: "Appointments-Endpoint"
- name: "REST Hooks"
  description: "Rest-Hook-Endpoint"
- name: "Task"
  description: "Tasks-Endpoint"
- name: "Campaign"
  description: "Campaigns-Endpoint"
- name: "E-Commerce"
  description: "E-Commerce-Endpoint"
- name: "Opportunity"
  description: "Opportunities-Endpoint"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /appointments:
    get:
      tags:
      - "Appointment"
      summary: "List Appointments"
      description: "Retrieves all appointments for the authenticated user"
      operationId: "appointmentsUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "since"
        in: "query"
        description: "Date to start searching from ex. `2017-01-01T22:17:59.039Z`"
        required: false
        type: "string"
      - name: "until"
        in: "query"
        description: "Date to search to ex. `2017-01-01T22:17:59.039Z`"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "Sets a total of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "offset"
        in: "query"
        description: "Sets a beginning range of items to return"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/AppointmentList"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Appointment"
    post:
      tags:
      - "Appointment"
      summary: "Create an Appointment"
      description: "Creates a new appointment as the authenticated user"
      operationId: "createAppointmentUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "appointment"
        description: "appointment"
        required: true
        schema:
          $ref: "#/definitions/Appointment"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Appointment"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Appointment"
  /appointments/search:
    get:
      tags:
      - "Appointment"
      summary: "Search Appointments"
      description: "Retrieves all appointments belonging to the authenticated user\
        \ for the specified date range"
      operationId: "searchUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "since"
        in: "query"
        description: "Date to start searching from ex. `2017-01-01T22:17:59.039Z`"
        required: false
        type: "string"
      - name: "until"
        in: "query"
        description: "Date to search to ex. `2017-01-01T22:17:59.039Z`"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "Sets a total of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "offset"
        in: "query"
        description: "Sets a beginning range of items to return"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/AppointmentList"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Appointment"
  /appointments/sync:
    get:
      tags:
      - "Appointment"
      summary: "Retrieve Synced Appointments"
      description: "The Sync endpoint returns a set of appointments that have been\
        \ updated or created since the last result set was retrieved, minus any appointments\
        \ that have been deleted"
      operationId: "syncUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "sync_token"
        in: "query"
        description: "sync_token"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "Sets a total of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "offset"
        in: "query"
        description: "Sets a beginning range of items to return"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/AppointmentStatusList"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Appointment"
  /appointments/{appointmentId}:
    get:
      tags:
      - "Appointment"
      summary: "Retrieve an Appointment"
      description: "Retrieves a specific appointment belonging to the authenticated\
        \ user"
      operationId: "loadAppointmentUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "appointmentId"
        in: "path"
        description: "appointmentId"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Appointment"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Appointment"
    put:
      tags:
      - "Appointment"
      summary: "Replace an Appointment"
      description: "Replaces all values of a given appointment"
      operationId: "replaceAppointmentUsingPUT"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "appointmentId"
        in: "path"
        description: "appointmentId"
        required: true
        type: "string"
      - in: "body"
        name: "appointment"
        description: "appointment"
        required: true
        schema:
          $ref: "#/definitions/Appointment"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Appointment"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Appointment"
    delete:
      tags:
      - "Appointment"
      summary: "Delete an Appointment"
      description: "Deletes the specified appointment"
      operationId: "removeAppointmentUsingDELETE"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "appointmentId"
        in: "path"
        description: "appointmentId"
        required: true
        type: "string"
      responses:
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Appointment"
    patch:
      tags:
      - "Appointment"
      summary: "Update an Appointment"
      description: "Updates the provided values of a given appointment"
      operationId: "updateAppointmentUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "appointmentId"
        in: "path"
        description: "appointmentId"
        required: true
        type: "string"
      - in: "body"
        name: "appointment"
        description: "appointment"
        required: true
        schema:
          $ref: "#/definitions/Appointment"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Appointment"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Appointment"
  /campaigns:
    get:
      tags:
      - "Campaign"
      summary: "List Campaigns"
      description: "Retrieves all campaigns for the authenticated user"
      operationId: "getAllCampaignsUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Sets a total of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "offset"
        in: "query"
        description: "Sets a beginning range of items to return"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/CampaignList"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Campaign"
  /campaigns/{campaignId}:
    get:
      tags:
      - "Campaign"
      summary: "Retrieve a Campaign"
      description: "Retrieves a single campaign"
      operationId: "getCampaignUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "campaignId"
        required: true
        type: "integer"
        format: "int64"
      - name: "optional_properties"
        in: "query"
        description: "Comma-delimited list of Campaign properties to include in the\
          \ response. (The fields `goals` and `sequences` aren't included, by default.)"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Campaign"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Campaign"
  /campaigns/{campaignId}/sequences/{sequenceId}/contacts:
    post:
      tags:
      - "Campaign"
      summary: "Add Multiple to Campaign Sequence"
      description: "Adds a list of contacts to a campaign sequence"
      operationId: "addContactsToCampaignSequenceUsingPOST_1"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "campaignId"
        required: true
        type: "integer"
        format: "int64"
      - name: "sequenceId"
        in: "path"
        description: "sequenceId"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "ids"
        description: "ids"
        required: true
        schema:
          $ref: "#/definitions/SetOfIds"
      responses:
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Campaign"
    delete:
      tags:
      - "Campaign"
      summary: "Remove Multiple from Campaign Sequence"
      description: "Removes a list of contacts from a campaign sequence"
      operationId: "removeContactsFromCampaignSequenceUsingDELETE_1"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "campaignId"
        required: true
        type: "integer"
        format: "int64"
      - name: "sequenceId"
        in: "path"
        description: "sequenceId"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "ids"
        description: "ids"
        required: true
        schema:
          $ref: "#/definitions/SetOfIds"
      responses:
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Campaign"
  /campaigns/{campaignId}/sequences/{sequenceId}/contacts/{contactId}:
    post:
      tags:
      - "Campaign"
      summary: "Add to Campaign Sequence"
      description: "Adds a single contact to a campaign sequence"
      operationId: "addContactsToCampaignSequenceUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "campaignId"
        required: true
        type: "integer"
        format: "int64"
      - name: "sequenceId"
        in: "path"
        description: "sequenceId"
        required: true
        type: "integer"
        format: "int64"
      - name: "contactId"
        in: "path"
        description: "contactId"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Campaign"
    delete:
      tags:
      - "Campaign"
      summary: "Remove from Campaign Sequence"
      description: "Removes a single contact from a campaign sequence"
      operationId: "removeContactsFromCampaignSequenceUsingDELETE"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "campaignId"
        required: true
        type: "integer"
        format: "int64"
      - name: "sequenceId"
        in: "path"
        description: "sequenceId"
        required: true
        type: "integer"
        format: "int64"
      - name: "contactId"
        in: "path"
        description: "contactId"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Campaign"
  /contactCustomFields:
    get:
      tags:
      - "Contact"
      summary: "List Contact Custom Fields"
      description: "Retrieves a list of custom fields for Contacts"
      operationId: "listCustomFieldsUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CustomFieldMetaData"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Contact"
  /contacts:
    get:
      tags:
      - "Contact"
      summary: "List Contacts"
      description: "Retrieves a list of all contacts"
      operationId: "listContactsUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Sets a total of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "offset"
        in: "query"
        description: "Sets a beginning range of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "email"
        in: "query"
        description: "Optional email address to query on"
        required: false
        type: "string"
      - name: "given_name"
        in: "query"
        description: "Optional first name or forename to query on"
        required: false
        type: "string"
      - name: "family_name"
        in: "query"
        description: "Optional last name or surname to query on"
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Attribute to order items by"
        required: false
        type: "string"
        enum:
        - "id"
        - "date_created"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ContactList"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Contact"
    post:
      tags:
      - "Contact"
      summary: "Create a Contact"
      description: "Creates a new contact as the authenticated user. NB: Contact must\
        \ contain at least one item in `email_addresses` or `phone_numbers`. NB: `country_code`\
        \ is required if `region` is specified."
      operationId: "createContactUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "contact"
        description: "contact"
        required: false
        schema:
          $ref: "#/definitions/FullContact"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/FullContact"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Contact"
    put:
      tags:
      - "Contact"
      summary: "Create or Update a Contact"
      description: "Creates a new contact or updates a contact as the authenticated\
        \ user. NB: New Contacts must contain at least one item in `email_addresses`\
        \ or `phone_numbers`. NB: `country_code` is required if `region` is specified.\
        \ Existing Contacts are updated with only the values provided in the request.\
        \ Accepts a `duplicate_option` which performs duplicate checking by one of\
        \ the following options: `Email`, `EmailAndName`, `EmailAndNameAndCompany`,\
        \ if a match is found using the option provided, the existing contact will\
        \ be updated. If an existing contact was not found using the `duplicate_option`\
        \ provided, a new contact record will be created"
      operationId: "createOrUpdateContactUsingPUT"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "contact"
        description: "contact"
        required: false
        schema:
          $ref: "#/definitions/UpsertContact"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/FullContact"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Contact"
  /contacts/{contactId}:
    delete:
      tags:
      - "Contact"
      summary: "Delete a Contact"
      description: "Deletes the specified contact"
      operationId: "deleteContactUsingDELETE"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "contactId"
        in: "path"
        description: "contactId"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Contact"
    patch:
      tags:
      - "Contact"
      summary: "Update a Contact"
      description: "Updates a contact with only the values provided in the request."
      operationId: "updateContactUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "contact"
        description: "contact"
        required: false
        schema:
          $ref: "#/definitions/FullContact"
      - name: "contactId"
        in: "path"
        description: "contactId"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/FullContact"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Contact"
  /contacts/{contactId}/tags:
    get:
      tags:
      - "Contact"
      summary: "List Applied Tags"
      description: "Retrieves a list of tags applied to a given contact"
      operationId: "listAppliedTagsUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "contactId"
        in: "path"
        description: "contactId"
        required: true
        type: "integer"
        format: "int64"
      - name: "limit"
        in: "query"
        description: "Sets a total of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "offset"
        in: "query"
        description: "Sets a beginning range of items to return"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ContactTagList"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Contact"
    post:
      tags:
      - "Contact"
      summary: "Apply Tags"
      description: "Apply a list of tags to a given contact record"
      operationId: "applyTagsToContactIdUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "contactId"
        in: "path"
        description: "contactId"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "tagIds"
        description: "tagIds"
        required: true
        schema:
          $ref: "#/definitions/TagId"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Entry«long,string»"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Contact"
    delete:
      tags:
      - "Contact"
      summary: "Remove Applied Tags"
      description: "Removes a list of tags from the given contact"
      operationId: "removeTagsFromContactUsingDELETE_1"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "contactId"
        in: "path"
        description: "contactId"
        required: true
        type: "integer"
        format: "int64"
      - name: "ids"
        in: "query"
        description: "ids"
        required: true
        type: "string"
      responses:
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Contact"
  /contacts/{contactId}/tags/{tagId}:
    delete:
      tags:
      - "Contact"
      summary: "Remove Applied Tag"
      description: "Removes a tag from the given contact"
      operationId: "removeTagsFromContactUsingDELETE"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "contactId"
        in: "path"
        description: "contactId"
        required: true
        type: "integer"
        format: "int64"
      - name: "tagId"
        in: "path"
        description: "tagId"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Contact"
  /contacts/{id}:
    get:
      tags:
      - "Contact"
      summary: "Retrieve a Contact"
      description: "Retrieves a single contact"
      operationId: "loadUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        format: "int64"
      - name: "optional_properties"
        in: "query"
        description: "Comma-delimited list of Contact properties to include in the\
          \ response. (Some fields such as `lead_source_id`, `custom_fields`, and\
          \ `job_title` aren't included, by default.)"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/FullContact"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Contact"
  /hooks:
    get:
      tags:
      - "REST Hooks"
      summary: "List Stored Hook Subscriptions"
      description: "Lists your hook subscriptions."
      operationId: "list_stored_hook_subscriptions"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/RestHook"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "RESTHooks"
    post:
      tags:
      - "REST Hooks"
      summary: "Create a Hook Subscription"
      description: "To receive hooks, you'll first need to subscribe to events one\
        \ at a time *and* individually verify each subscription.\n\nThis operation\
        \ is used to create hook subscriptions. During this process, Infusionsoft\
        \ will attempt to verify your subscription. Continue reading to learn how\
        \ that works.\n\nTo verify or reactivate a hook subscription, Infusionsoft\
        \ will make a `POST` request with a temporary secret to the `hookUrl` you\
        \ provided during creation. The secret is passed as the value of a header\
        \ named `X-Hook-Secret`. Your response to that `POST` *must* have a status\
        \ code of `200` and return the same `X-Hook-Secret` header and value pair.\
        \ Once you've done that, you'll begin receiving hooks. Don't worry if verification\
        \ fails; you can always [request another verification attempt](#!/REST_Hooks/verify_a_hook_subscription).\n\
        \nNB: You will not receive events until the subscription is verified.\n\n\
        If the verification process seems confusing, head over to [RESTHooks.org](http://resthooks.org/docs/security/)\
        \ for more on the concept."
      operationId: "create_a_hook_subscription"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "restHookRequest"
        description: "restHookRequest"
        required: true
        schema:
          $ref: "#/definitions/RestHookRequest"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/RestHook"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "RESTHooks"
  /hooks/event_keys:
    get:
      tags:
      - "REST Hooks"
      summary: "List Hook Event Types"
      description: "### _What are REST Hooks?_\n\n_REST Hooks itself is not a specification,\
        \ it is a collection of patterns that treat webhooks like subscriptions. These\
        \ subscriptions are manipulated via a REST API just like any other resource._\n\
        \n_With most modern REST APIs, polling is the only way to detect changes.\
        \ But it doesn't have to be. On average, 98.5% of polls are wasted. There\
        \ is a better way. REST Hooks enable real-time communication and eliminate\
        \ polling._ -- [RESTHooks.org](http://RESTHooks.org)\n\nInfusionsoft offers\
        \ a growing set of REST Hooks to keep you notified of changes in your data.\
        \ To get started, use [List Hook Event Types](#!/REST_Hooks/list_hook_event_types)\
        \ to discover event types. Event types are identified using _noun.verb dot\
        \ syntax_, e.g.: `contact.add` or `invoice.delete`.\n\nOnce you've chosen\
        \ the events you're interested in, subscribe to them via [Create a Hook Subscription](#!/REST_Hooks/create_a_hook_subscription)."
      operationId: "list_hook_event_types"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              type: "string"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "RESTHooks"
  /hooks/{key}:
    get:
      tags:
      - "REST Hooks"
      summary: "Retrieve a Hook Subscription"
      description: "Retrieves an existing hook subscription and its status.\nIf your\
        \ hook subscription becomes inactive, you may request an activation attempt\
        \ via [Verify a Hook Subscription](#!/REST_Hooks/verify_a_hook_subscription)."
      operationId: "retrieve_a_hook_subscription"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "key"
        in: "path"
        description: "key"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/RestHook"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "RESTHooks"
    put:
      tags:
      - "REST Hooks"
      summary: "Update a Hook Subscription"
      description: "Modify an existing hook subscription using the provided values."
      operationId: "update_a_hook_subscription"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "key"
        in: "path"
        description: "key"
        required: true
        type: "string"
      - in: "body"
        name: "restHookRequest"
        description: "restHookRequest"
        required: true
        schema:
          $ref: "#/definitions/RestHookRequest"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/RestHook"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "RESTHooks"
    delete:
      tags:
      - "REST Hooks"
      summary: "Delete a Hook Subscription"
      description: "Stop receiving hooks by deleting an existing hook subscription."
      operationId: "delete_a_hook_subscription"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "key"
        in: "path"
        description: "key"
        required: true
        type: "string"
      responses:
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "RESTHooks"
  /hooks/{key}/verify:
    post:
      tags:
      - "REST Hooks"
      summary: "Verify a Hook Subscription"
      description: "This operation is used to verify or reactivate a hook subscription.\n\
        \nTo verify or reactivate a hook subscription, Infusionsoft will make a `POST`\
        \ request with a temporary secret to the `hookUrl` you provided during creation.\
        \ The secret is passed as the value of a header named `X-Hook-Secret`. Your\
        \ response to that `POST` *must* have a status code of `200` and return the\
        \ same `X-Hook-Secret` header and value pair. Once you've done that, you'll\
        \ begin receiving hooks. Don't worry if verification fails; you can always\
        \ [request another verification attempt](#!/REST_Hooks/verify_a_hook_subscription).\n\
        \nNB: You will not receive events until the subscription is verified.\n\n\
        If the verification process seems confusing, head over to [RESTHooks.org](http://resthooks.org/docs/security/)\
        \ for more on the concept."
      operationId: "verify_a_hook_subscription"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "key"
        in: "path"
        description: "key"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/RestHook"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "RESTHooks"
  /opportunities:
    get:
      tags:
      - "Opportunity"
      summary: "List Opportunities"
      description: "Retrieves a list of all opportunities"
      operationId: "listOpportunitiesUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Sets a total of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "offset"
        in: "query"
        description: "Sets a beginning range of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "user_id"
        in: "query"
        description: "Returns opportunities for the provided user id"
        required: false
        type: "integer"
        format: "int64"
      - name: "stage_id"
        in: "query"
        description: "Returns opportunities for the provided stage id"
        required: false
        type: "integer"
        format: "int64"
      - name: "search_term"
        in: "query"
        description: "Returns opportunities that match any of the contact's `given_name`,\
          \ `family_name`, `company_name`, and `email_addresses` (searches `EMAIL1`\
          \ only) fields as well as `opportunity_title`"
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Attribute to order items by"
        required: false
        type: "string"
        enum:
        - "next_action"
        - "opportunity_name"
        - "contact_name"
        - "date_created"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/OpportunityList"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Opportunity"
    post:
      tags:
      - "Opportunity"
      summary: "Create an Opportunity"
      description: "Creates a new opportunity as the authenticated user. NB: Opportunity\
        \ must contain values for `opportunity_title`, `contact`, and `stage`."
      operationId: "createOpportunityUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "opportunity"
        description: "opportunity"
        required: false
        schema:
          $ref: "#/definitions/Opportunity"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Opportunity"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Opportunity"
    put:
      tags:
      - "Opportunity"
      summary: "Replace an Opportunity"
      description: "Replaces all values of a given opportunity"
      operationId: "replaceOpportunityUsingPUT"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "opportunity"
        description: "opportunity"
        required: false
        schema:
          $ref: "#/definitions/Opportunity"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Opportunity"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Opportunity"
  /opportunities/{opportunityId}:
    get:
      tags:
      - "Opportunity"
      summary: "Retrieve an Opportunity"
      description: "Retrives a single opportunity"
      operationId: "getOpportunityUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "opportunityId"
        in: "path"
        description: "opportunityId"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Opportunity"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Opportunity"
    patch:
      tags:
      - "Opportunity"
      summary: "Update an Opportunity"
      description: "Updates an opportunity with only the values provided in the request."
      operationId: "updateOpportunityUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "opportunityId"
        in: "path"
        description: "opportunityId"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "opportunity"
        description: "opportunity"
        required: false
        schema:
          $ref: "#/definitions/Opportunity"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Opportunity"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Opportunity"
  /opportunity/stage_pipeline:
    get:
      tags:
      - "Opportunity"
      summary: "List Opportunity Stage Pipeline"
      description: "Retrieves a list of all opportunity stages with pipeline details"
      operationId: "getStagePipelineUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/SalesPipeline"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Opportunity"
  /orders:
    get:
      tags:
      - "E-Commerce"
      summary: "List Orders"
      description: "Retrieves a list of all orders using the specified search criteria"
      operationId: "searchUsingGET_1"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "since"
        in: "query"
        description: "Date to start searching from ex. `2017-01-01T22:17:59.039Z`"
        required: false
        type: "string"
      - name: "until"
        in: "query"
        description: "Date to search to ex. `2017-01-01T22:17:59.039Z`"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "Sets a total of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "offset"
        in: "query"
        description: "Sets a beginning range of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "paid"
        in: "query"
        description: "Sets paid status of items to return"
        required: false
        type: "boolean"
      - name: "order"
        in: "query"
        description: "Attribute to order items by"
        required: false
        type: "string"
      - name: "contact_id"
        in: "query"
        description: "Returns orders for the provided contact id"
        required: false
        type: "integer"
        format: "int64"
      - name: "product_id"
        in: "query"
        description: "Returns orders containing the provided product id"
        required: false
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/OrderList"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "ECommerce"
  /orders/{orderId}:
    get:
      tags:
      - "E-Commerce"
      summary: "Retrieve an Order"
      description: "Retrieves a single order"
      operationId: "loadOrderUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "orderId"
        in: "path"
        description: "orderId"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Order"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "ECommerce"
  /orders/{orderId}/transactions:
    get:
      tags:
      - "E-Commerce"
      summary: "Retrieve Order Transactions"
      description: "Retrieves a list of all transactions on a given order using the\
        \ specified search criteria"
      operationId: "transactionsForOrderUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "orderId"
        in: "path"
        description: "orderId"
        required: true
        type: "string"
      - name: "since"
        in: "query"
        description: "Date to start searching from ex. `2017-01-01T22:17:59.039Z`"
        required: false
        type: "string"
      - name: "until"
        in: "query"
        description: "Date to search to ex. `2017-01-01T22:17:59.039Z`"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "Sets a total of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "offset"
        in: "query"
        description: "Sets a beginning range of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "contact_id"
        in: "query"
        description: "Returns transactions for the provided contact id"
        required: false
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/TransactionList"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "ECommerce"
  /products/search:
    get:
      tags:
      - "Product"
      summary: "List Products"
      description: "Retrieves a list of all products"
      operationId: "searchUsingGET_3"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Sets a total of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "offset"
        in: "query"
        description: "Sets a beginning range of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "active"
        in: "query"
        description: "Sets status of items to return"
        required: false
        type: "boolean"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ProductList"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Product"
  /products/sync:
    get:
      tags:
      - "Product"
      summary: "Retrieve Synced Products"
      description: "The Sync endpoint returns a set of products that have been updated\
        \ or created since the last result set was retrieved, minus any products that\
        \ have been deleted."
      operationId: "syncUsingGET_1"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "sync_token"
        in: "query"
        description: "sync_token"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "Sets a total of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "offset"
        in: "query"
        description: "Sets a beginning range of items to return"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ProductStatusList"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Product"
  /products/{productId}:
    get:
      tags:
      - "Product"
      summary: "Retrieve a Product"
      description: "Retrieves a single product from the authorized Infusionsoft account"
      operationId: "loadProductUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "productId"
        in: "path"
        description: "productId"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Product"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Product"
  /tasks:
    get:
      tags:
      - "Task"
      summary: "List Tasks"
      description: "Retrieves a list of all tasks using the specified search criteria"
      operationId: "tasksUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "contact_id"
        in: "query"
        description: "contact_id"
        required: false
        type: "integer"
        format: "int64"
      - name: "has_due_date"
        in: "query"
        description: "has_due_date"
        required: false
        type: "boolean"
      - name: "user_id"
        in: "query"
        description: "user_id"
        required: false
        type: "integer"
        format: "int64"
      - name: "since"
        in: "query"
        description: "Date to start searching from ex. `2017-01-01T22:17:59.039Z`"
        required: false
        type: "string"
      - name: "until"
        in: "query"
        description: "Date to search to ex. `2017-01-01T22:17:59.039Z`"
        required: false
        type: "string"
      - name: "completed"
        in: "query"
        description: "Sets completed status of items to return"
        required: false
        type: "boolean"
      - name: "limit"
        in: "query"
        description: "Sets a total of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "offset"
        in: "query"
        description: "Sets a beginning range of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "order"
        in: "query"
        description: "Attribute to order items by"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/TaskList"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Task"
    post:
      tags:
      - "Task"
      summary: "Create a Task"
      description: "Creates a new task as the authenticated user. NB: Contact must\
        \ contain at least one item in the fields `title` and `due_date`. All other\
        \ attributes are optional"
      operationId: "createTaskUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "task"
        description: "task"
        required: true
        schema:
          $ref: "#/definitions/Task"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Task"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Task"
  /tasks/search:
    get:
      tags:
      - "Task"
      summary: "Search Tasks"
      description: "Retrieves Tasks belonging to the authenticated user using the\
        \ specified search criteria"
      operationId: "searchUsingGET_4"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "contact_id"
        in: "query"
        description: "Returns tasks for the provided contact id"
        required: false
        type: "integer"
        format: "int64"
      - name: "has_due_date"
        in: "query"
        description: "Returns tasks that have an 'action date' when set to true"
        required: false
        type: "boolean"
      - name: "user_id"
        in: "query"
        description: "Returns tasks for the provided user id"
        required: false
        type: "integer"
        format: "int64"
      - name: "since"
        in: "query"
        description: "Date to start searching from ex. `2017-01-01T22:17:59.039Z`"
        required: false
        type: "string"
      - name: "until"
        in: "query"
        description: "Date to search to ex. `2017-01-01T22:17:59.039Z`"
        required: false
        type: "string"
      - name: "completed"
        in: "query"
        description: "Sets completed status of items to return"
        required: false
        type: "boolean"
      - name: "limit"
        in: "query"
        description: "Sets a total of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "offset"
        in: "query"
        description: "Sets a beginning range of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "order"
        in: "query"
        description: "Attribute to order items by"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/TaskList"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Task"
  /tasks/sync:
    get:
      tags:
      - "Task"
      summary: "Retrieve Synced Tasks"
      description: "The Sync endpoint returns a set of tasks that have been updated\
        \ or created since the last result set was retrieved, minus any tasks that\
        \ have been deleted."
      operationId: "syncUsingGET_2"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "sync_token"
        in: "query"
        description: "sync_token"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "Sets a total of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "offset"
        in: "query"
        description: "Sets a beginning range of items to return"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/TaskStatusList"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Task"
  /tasks/{taskId}:
    get:
      tags:
      - "Task"
      summary: "Retrieve a Task"
      description: "Retrieves a single task"
      operationId: "loadTaskUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "taskId"
        in: "path"
        description: "taskId"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Task"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Task"
    put:
      tags:
      - "Task"
      summary: "Replace a Task"
      description: "Replaces a task with the values provided in the request"
      operationId: "replaceTaskUsingPUT"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "taskId"
        in: "path"
        description: "taskId"
        required: true
        type: "string"
      - in: "body"
        name: "task"
        description: "task"
        required: true
        schema:
          $ref: "#/definitions/Task"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Task"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Task"
    delete:
      tags:
      - "Task"
      summary: "Delete a Task"
      description: "Permanently deletes a task"
      operationId: "removeTaskUsingDELETE"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "taskId"
        in: "path"
        description: "taskId"
        required: true
        type: "string"
      responses:
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Task"
    patch:
      tags:
      - "Task"
      summary: "Update a Task"
      description: "Updates a task with only the values provided in the request"
      operationId: "updateTaskUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "taskId"
        in: "path"
        description: "taskId"
        required: true
        type: "string"
      - in: "body"
        name: "task"
        description: "task"
        required: true
        schema:
          $ref: "#/definitions/Task"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Task"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Task"
  /transactions:
    get:
      tags:
      - "E-Commerce"
      summary: "List Transactions"
      description: "Retrieves a list transactions for a given contact"
      operationId: "searchUsingGET_2"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "since"
        in: "query"
        description: "Date to start searching from ex. `2017-01-01T22:17:59.039Z`"
        required: false
        type: "string"
      - name: "until"
        in: "query"
        description: "Date to search to ex. `2017-01-01T22:17:59.039Z`"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "Sets a total of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "offset"
        in: "query"
        description: "Sets a beginning range of items to return"
        required: false
        type: "integer"
        format: "int32"
      - name: "contact_id"
        in: "query"
        description: "Returns transactions for the provided contact id"
        required: false
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/TransactionList"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "ECommerce"
  /transactions/{transactionId}:
    get:
      tags:
      - "E-Commerce"
      summary: "Retrieve a Transaction"
      description: "Retrieves a single transaction"
      operationId: "transactionByIdUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "transactionId"
        in: "path"
        description: "transactionId"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Transaction"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "ECommerce"
definitions:
  Appointment:
    type: "object"
    required:
    - "end_date"
    - "start_date"
    - "title"
    properties:
      description:
        type: "string"
      end_date:
        type: "string"
        format: "date-time"
      location:
        type: "string"
      remind_time:
        type: "integer"
        format: "int32"
      start_date:
        type: "string"
        format: "date-time"
      title:
        type: "string"
    example:
      end_date: "2000-01-23T04:56:07.000+00:00"
      remind_time: 0
      description: "description"
      location: "location"
      title: "title"
      start_date: "2000-01-23T04:56:07.000+00:00"
  CustomFieldMetaData:
    type: "object"
    properties:
      field_type:
        type: "string"
        enum:
        - "Currency"
        - "Date"
        - "DateTime"
        - "DayOfWeek"
        - "Drilldown"
        - "Email"
        - "Month"
        - "ListBox"
        - "Name"
        - "WholeNumber"
        - "DecimalNumber"
        - "Percent"
        - "PhoneNumber"
        - "Radio"
        - "Dropdown"
        - "SocialSecurityNumber"
        - "State"
        - "Text"
        - "TextArea"
        - "User"
        - "UserListBox"
        - "Website"
        - "Year"
        - "YesNo"
      id:
        type: "integer"
        format: "int64"
      label:
        type: "string"
      options:
        type: "array"
        items:
          $ref: "#/definitions/CustomFieldOption"
    example:
      options:
      - options:
        - null
        - null
        id: "id"
        label: "label"
      - options:
        - null
        - null
        id: "id"
        label: "label"
      id: 0
      label: "label"
      field_type: "Currency"
  CustomFieldValue:
    type: "object"
    properties:
      content:
        type: "object"
        properties: {}
      id:
        type: "integer"
        format: "int64"
    example:
      id: 6
      content: "{}"
  Entry«long,string»:
    type: "object"
    properties:
      key:
        type: "string"
        enum:
        - "SUCCESS"
        - "DUPLICATE"
        - "CONTACT_NOT_FOUND"
        - "TAG_ID_NOT_FOUND"
        - "FAILURE"
    example:
      key: "SUCCESS"
  Company:
    type: "object"
    properties:
      company_name:
        type: "string"
      id:
        type: "integer"
        format: "int64"
    example:
      company_name: "company_name"
      id: 0
  SubscriptionPlan:
    type: "object"
    properties:
      active:
        type: "boolean"
      cycle:
        type: "integer"
        format: "int32"
      frequency:
        type: "integer"
        format: "int32"
      id:
        type: "integer"
        format: "int64"
      number_of_cycles:
        type: "integer"
        format: "int32"
      plan_price:
        type: "number"
        format: "double"
      subscription_plan_index:
        type: "integer"
        format: "int32"
      subscription_plan_name:
        type: "string"
    example:
      subscription_plan_index: 1
      plan_price: 7.4577447736837658709418974467553198337554931640625
      active: true
      number_of_cycles: 6
      id: 1
      subscription_plan_name: "subscription_plan_name"
      cycle: 1
      frequency: 1
  Task:
    type: "object"
    properties:
      completed:
        type: "boolean"
      completion_date:
        type: "string"
      contact:
        $ref: "#/definitions/BasicContact"
      creation_date:
        type: "string"
      description:
        type: "string"
      due_date:
        type: "string"
      modification_date:
        type: "string"
      priority:
        type: "integer"
        format: "int32"
      title:
        type: "string"
      type:
        type: "string"
      url:
        type: "string"
      user_id:
        type: "integer"
        format: "int64"
    example:
      user_id: 5
      contact:
        last_name: "last_name"
        id: 6
        first_name: "first_name"
        email: "email"
      modification_date: "modification_date"
      due_date: "due_date"
      description: "description"
      completion_date: "completion_date"
      completed: true
      creation_date: "creation_date"
      priority: 1
      title: "title"
      type: "type"
      url: "url"
  Address:
    type: "object"
    properties:
      country_code:
        type: "string"
      field:
        type: "string"
        enum:
        - "BILLING"
        - "SHIPPING"
        - "OTHER"
      line1:
        type: "string"
      line2:
        type: "string"
      locality:
        type: "string"
      postal_code:
        type: "string"
      region:
        type: "string"
    example:
      country_code: "country_code"
      field: "BILLING"
      locality: "locality"
      postal_code: "postal_code"
      region: "region"
      line2: "line2"
      line1: "line1"
  SalesPipeline:
    type: "object"
    properties:
      end_stage:
        type: "boolean"
      is_default:
        type: "boolean"
      stage_count:
        type: "integer"
        format: "int32"
      stage_id:
        type: "integer"
        format: "int64"
      stage_name:
        type: "string"
      stage_order:
        type: "integer"
        format: "int32"
    example:
      stage_order: 1
      stage_id: 6
      stage_name: "stage_name"
      is_default: true
      end_stage: true
      stage_count: 0
  ShippingInformation:
    type: "object"
    properties:
      city:
        type: "string"
      company:
        type: "string"
      country:
        type: "string"
      first_name:
        type: "string"
      id:
        type: "integer"
        format: "int64"
      last_name:
        type: "string"
      middle_name:
        type: "string"
      phone:
        type: "string"
      state:
        type: "string"
      street1:
        type: "string"
      street2:
        type: "string"
      zip:
        type: "string"
    example:
      zip: "zip"
      country: "country"
      city: "city"
      phone: "phone"
      last_name: "last_name"
      company: "company"
      street1: "street1"
      id: 1
      state: "state"
      street2: "street2"
      middle_name: "middle_name"
      first_name: "first_name"
  CheckListItemDetails:
    type: "object"
    properties:
      description:
        type: "string"
      done_date:
        type: "string"
        format: "date-time"
      id:
        type: "integer"
        format: "int64"
      instance_id:
        type: "integer"
        format: "int64"
      item_order:
        type: "integer"
        format: "int32"
      required:
        type: "boolean"
    example:
      instance_id: 9
      done_date: "2000-01-23T04:56:07.000+00:00"
      description: "description"
      id: 7
      required: true
      item_order: 3
  TaskList:
    type: "object"
    properties:
      count:
        type: "integer"
        format: "int32"
      next:
        type: "string"
      previous:
        type: "string"
      sync_token:
        type: "string"
      tasks:
        type: "array"
        items:
          $ref: "#/definitions/Task"
    example:
      next: "next"
      previous: "previous"
      sync_token: "sync_token"
      count: 0
      tasks:
      - user_id: 5
        contact:
          last_name: "last_name"
          id: 6
          first_name: "first_name"
          email: "email"
        modification_date: "modification_date"
        due_date: "due_date"
        description: "description"
        completion_date: "completion_date"
        completed: true
        creation_date: "creation_date"
        priority: 1
        title: "title"
        type: "type"
        url: "url"
      - user_id: 5
        contact:
          last_name: "last_name"
          id: 6
          first_name: "first_name"
          email: "email"
        modification_date: "modification_date"
        due_date: "due_date"
        description: "description"
        completion_date: "completion_date"
        completed: true
        creation_date: "creation_date"
        priority: 1
        title: "title"
        type: "type"
        url: "url"
  Product:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      product_desc:
        type: "string"
      product_name:
        type: "string"
      product_options:
        type: "array"
        items:
          $ref: "#/definitions/ProductOption"
      product_price:
        type: "number"
        format: "double"
      product_short_desc:
        type: "string"
      sku:
        type: "string"
      status:
        type: "integer"
        format: "int32"
      sub_category_id:
        type: "integer"
        format: "int64"
      subscription_only:
        type: "boolean"
      subscription_plans:
        type: "array"
        items:
          $ref: "#/definitions/SubscriptionPlan"
      url:
        type: "string"
    example:
      product_desc: "product_desc"
      product_options:
      - allow_spaces: true
        can_contain_character: true
        max_chars: 5
        values:
        - price_adjustment: 3.61607674925191080461672754609026014804840087890625
          index: 9
          id: 7
          label: "label"
          is_default: true
          sku: "sku"
        - price_adjustment: 3.61607674925191080461672754609026014804840087890625
          index: 9
          id: 7
          label: "label"
          is_default: true
          sku: "sku"
        can_start_with_number: true
        label: "label"
        type: "FixedList"
        can_start_with_character: true
        required: true
        display_index: 1
        text_message: "text_message"
        can_contain_number: true
        name: "name"
        can_end_with_number: true
        id: 5
        min_chars: 2
        can_end_with_character: true
      - allow_spaces: true
        can_contain_character: true
        max_chars: 5
        values:
        - price_adjustment: 3.61607674925191080461672754609026014804840087890625
          index: 9
          id: 7
          label: "label"
          is_default: true
          sku: "sku"
        - price_adjustment: 3.61607674925191080461672754609026014804840087890625
          index: 9
          id: 7
          label: "label"
          is_default: true
          sku: "sku"
        can_start_with_number: true
        label: "label"
        type: "FixedList"
        can_start_with_character: true
        required: true
        display_index: 1
        text_message: "text_message"
        can_contain_number: true
        name: "name"
        can_end_with_number: true
        id: 5
        min_chars: 2
        can_end_with_character: true
      subscription_plans:
      - subscription_plan_index: 1
        plan_price: 7.4577447736837658709418974467553198337554931640625
        active: true
        number_of_cycles: 6
        id: 1
        subscription_plan_name: "subscription_plan_name"
        cycle: 1
        frequency: 1
      - subscription_plan_index: 1
        plan_price: 7.4577447736837658709418974467553198337554931640625
        active: true
        number_of_cycles: 6
        id: 1
        subscription_plan_name: "subscription_plan_name"
        cycle: 1
        frequency: 1
      product_short_desc: "product_short_desc"
      sub_category_id: 7
      subscription_only: true
      id: 6
      product_price: 2.027123023002321833274663731572218239307403564453125
      sku: "sku"
      product_name: "product_name"
      url: "url"
      status: 4
  AppointmentStatus:
    type: "object"
    properties:
      appointment:
        $ref: "#/definitions/Appointment"
      status:
        type: "string"
        enum:
        - "CREATED"
        - "UPDATED"
        - "DELETED"
    example:
      appointment:
        end_date: "2000-01-23T04:56:07.000+00:00"
        remind_time: 0
        description: "description"
        location: "location"
        title: "title"
        start_date: "2000-01-23T04:56:07.000+00:00"
      status: "CREATED"
  OpportunityContact:
    type: "object"
    required:
    - "id"
    properties:
      company_name:
        type: "string"
      email:
        type: "string"
      first_name:
        type: "string"
      id:
        type: "integer"
        format: "int64"
      job_title:
        type: "string"
      last_name:
        type: "string"
      phone_number:
        type: "string"
    example:
      company_name: "company_name"
      last_name: "last_name"
      phone_number: "phone_number"
      id: 6
      first_name: "first_name"
      job_title: "job_title"
      email: "email"
  OrderContactDetails:
    type: "object"
    properties:
      company_name:
        type: "string"
      email:
        type: "string"
      first_name:
        type: "string"
      id:
        type: "integer"
        format: "int64"
      job_title:
        type: "string"
      last_name:
        type: "string"
    example:
      company_name: "company_name"
      last_name: "last_name"
      id: 6
      first_name: "first_name"
      job_title: "job_title"
      email: "email"
  RestHook:
    type: "object"
    properties:
      eventKey:
        type: "string"
      hookUrl:
        type: "string"
      key:
        type: "string"
      status:
        type: "string"
        enum:
        - "Unverified"
        - "Verified"
        - "Inactive"
    example:
      eventKey: "eventKey"
      hookUrl: "hookUrl"
      key: "key"
      status: "Unverified"
  Item:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      next_item_id:
        type: "integer"
        format: "int64"
      previous_item_id:
        type: "integer"
        format: "int64"
      type:
        type: "string"
        enum:
        - "NULL"
        - "Start"
        - "Wait"
        - "DelayTimer"
        - "ContactTimer"
        - "DateTimer"
        - "Email"
        - "BardEmail"
        - "EmailConfirm"
        - "Voice"
        - "Fax"
        - "Letter"
        - "Tag"
        - "Opportunity"
        - "Note"
        - "Task"
        - "Appointment"
        - "AssignOwner"
        - "FieldValue"
        - "Fulfillment"
        - "Http"
        - "CustomerHub"
        - "ActionSet"
    example:
      name: "name"
      next_item_id: 1
      id: 1
      previous_item_id: 1
      type: "NULL"
  ProductOptionValue:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      index:
        type: "integer"
        format: "int64"
      is_default:
        type: "boolean"
      label:
        type: "string"
      price_adjustment:
        type: "number"
        format: "double"
      sku:
        type: "string"
    example:
      price_adjustment: 3.61607674925191080461672754609026014804840087890625
      index: 9
      id: 7
      label: "label"
      is_default: true
      sku: "sku"
  Goal:
    type: "object"
    properties:
      historical_contact_counts:
        $ref: "#/definitions/HistoricalCounts"
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      next_sequence_ids:
        type: "array"
        items:
          type: "integer"
          format: "int64"
      previous_sequence_ids:
        type: "array"
        items:
          type: "integer"
          format: "int64"
      type:
        type: "string"
        enum:
        - "WebForm"
        - "LandingPage"
        - "Survey"
        - "LinkClick"
        - "Score"
        - "Purchase"
        - "Quote"
        - "WebsiteTrigger"
        - "InternalForm"
        - "Task"
        - "StageMove"
        - "Note"
        - "Tag"
        - "GroSocial"
        - "TwitterForm"
        - "API"
        - "WordPress"
        - "NewLandingPage"
    example:
      previous_sequence_ids:
      - 7
      - 7
      name: "name"
      id: 5
      type: "WebForm"
      next_sequence_ids:
      - 2
      - 2
      historical_contact_counts:
        30_days: 5
        24_hours: 1
  FullContact:
    type: "object"
    properties:
      addresses:
        type: "array"
        items:
          $ref: "#/definitions/Address"
      birthday:
        type: "string"
        format: "date-time"
      company:
        $ref: "#/definitions/Company"
      contact_type:
        type: "string"
      custom_fields:
        type: "array"
        items:
          $ref: "#/definitions/CustomFieldValue"
      date_created:
        type: "string"
        format: "date-time"
      email_addresses:
        type: "array"
        items:
          $ref: "#/definitions/EmailAddress"
      family_name:
        type: "string"
      fax_numbers:
        type: "array"
        items:
          $ref: "#/definitions/FaxNumber"
      given_name:
        type: "string"
      job_title:
        type: "string"
      last_updated:
        type: "string"
        format: "date-time"
      lead_source_id:
        type: "integer"
        format: "int64"
      middle_name:
        type: "string"
      notes:
        type: "string"
      opt_in_reason:
        type: "string"
      owner_id:
        type: "integer"
        format: "int64"
      phone_numbers:
        type: "array"
        items:
          $ref: "#/definitions/PhoneNumber"
      preferred_locale:
        type: "string"
        example: "en_US"
      preferred_name:
        type: "string"
      prefix:
        type: "string"
      relationships:
        type: "array"
        items:
          $ref: "#/definitions/Relationship"
      source_type:
        type: "string"
        enum:
        - "WEBFORM"
        - "LANDINGPAGE"
        - "IMPORT"
        - "MANUAL"
        - "API"
        - "OTHER"
        - "UNKNOWN"
      suffix:
        type: "string"
      tag_ids:
        type: "array"
        items:
          type: "integer"
          format: "int64"
      time_zone:
        type: "string"
      website:
        type: "string"
    example:
      birthday: "2000-01-23T04:56:07.000+00:00"
      preferred_locale: "en_US"
      addresses:
      - country_code: "country_code"
        field: "BILLING"
        locality: "locality"
        postal_code: "postal_code"
        region: "region"
        line2: "line2"
        line1: "line1"
      - country_code: "country_code"
        field: "BILLING"
        locality: "locality"
        postal_code: "postal_code"
        region: "region"
        line2: "line2"
        line1: "line1"
      notes: "notes"
      owner_id: 5
      prefix: "prefix"
      suffix: "suffix"
      relationships:
      - linked_contact_id: 2
        relationship_type_id: 7
        id: 5
      - linked_contact_id: 2
        relationship_type_id: 7
        id: 5
      contact_type: "contact_type"
      company:
        company_name: "company_name"
        id: 0
      job_title: "job_title"
      opt_in_reason: "opt_in_reason"
      email_addresses:
      - field: "EMAIL1"
        email: "email"
      - field: "EMAIL1"
        email: "email"
      last_updated: "2000-01-23T04:56:07.000+00:00"
      tag_ids:
      - 9
      - 9
      website: "website"
      custom_fields:
      - id: 6
        content: "{}"
      - id: 6
        content: "{}"
      date_created: "2000-01-23T04:56:07.000+00:00"
      source_type: "WEBFORM"
      given_name: "given_name"
      middle_name: "middle_name"
      time_zone: "time_zone"
      fax_numbers:
      - number: "number"
        field: "FAX1"
        type: "type"
      - number: "number"
        field: "FAX1"
        type: "type"
      lead_source_id: 1
      phone_numbers:
      - number: "number"
        extension: "extension"
        field: "PHONE1"
        type: "type"
      - number: "number"
        extension: "extension"
        field: "PHONE1"
        type: "type"
      family_name: "family_name"
      preferred_name: "preferred_name"
  FaxNumber:
    type: "object"
    properties:
      field:
        type: "string"
        enum:
        - "FAX1"
        - "FAX2"
      number:
        type: "string"
      type:
        type: "string"
    example:
      number: "number"
      field: "FAX1"
      type: "type"
  OpportunityList:
    type: "object"
    properties:
      count:
        type: "integer"
        format: "int32"
      next:
        type: "string"
      opportunities:
        type: "array"
        items:
          $ref: "#/definitions/Opportunity"
      previous:
        type: "string"
    example:
      next: "next"
      previous: "previous"
      count: 0
      opportunities:
      - last_updated: "2000-01-23T04:56:07.000+00:00"
        opportunity_notes: "opportunity_notes"
        opportunity_title: "opportunity_title"
        date_created: "2000-01-23T04:56:07.000+00:00"
        estimated_close_date: "2000-01-23T04:56:07.000+00:00"
        next_action_notes: "next_action_notes"
        stage:
          reasons:
          - "reasons"
          - "reasons"
          name: "name"
          details:
            stage_order: 4
            probability: 2
            target_num_days: 7
            check_list_items:
            - instance_id: 9
              done_date: "2000-01-23T04:56:07.000+00:00"
              description: "description"
              id: 7
              required: true
              item_order: 3
            - instance_id: 9
              done_date: "2000-01-23T04:56:07.000+00:00"
              description: "description"
              id: 7
              required: true
              item_order: 3
          id: 1
        next_action_date: "2000-01-23T04:56:07.000+00:00"
        contact:
          company_name: "company_name"
          last_name: "last_name"
          phone_number: "phone_number"
          id: 6
          first_name: "first_name"
          job_title: "job_title"
          email: "email"
        projected_revenue_low: 2.3021358869347654518833223846741020679473876953125
        include_in_forecast: 5
        id: 1
        projected_revenue_high: 5.63737665663332876420099637471139430999755859375
        user:
          last_name: "last_name"
          id: 1
          first_name: "first_name"
      - last_updated: "2000-01-23T04:56:07.000+00:00"
        opportunity_notes: "opportunity_notes"
        opportunity_title: "opportunity_title"
        date_created: "2000-01-23T04:56:07.000+00:00"
        estimated_close_date: "2000-01-23T04:56:07.000+00:00"
        next_action_notes: "next_action_notes"
        stage:
          reasons:
          - "reasons"
          - "reasons"
          name: "name"
          details:
            stage_order: 4
            probability: 2
            target_num_days: 7
            check_list_items:
            - instance_id: 9
              done_date: "2000-01-23T04:56:07.000+00:00"
              description: "description"
              id: 7
              required: true
              item_order: 3
            - instance_id: 9
              done_date: "2000-01-23T04:56:07.000+00:00"
              description: "description"
              id: 7
              required: true
              item_order: 3
          id: 1
        next_action_date: "2000-01-23T04:56:07.000+00:00"
        contact:
          company_name: "company_name"
          last_name: "last_name"
          phone_number: "phone_number"
          id: 6
          first_name: "first_name"
          job_title: "job_title"
          email: "email"
        projected_revenue_low: 2.3021358869347654518833223846741020679473876953125
        include_in_forecast: 5
        id: 1
        projected_revenue_high: 5.63737665663332876420099637471139430999755859375
        user:
          last_name: "last_name"
          id: 1
          first_name: "first_name"
  Order:
    type: "object"
    properties:
      contact:
        $ref: "#/definitions/OrderContactDetails"
      creation_date:
        type: "string"
      id:
        type: "integer"
        format: "int64"
      lead_affiliate_id:
        type: "integer"
        format: "int64"
      modification_date:
        type: "string"
      order_date:
        type: "string"
      order_items:
        type: "array"
        items:
          $ref: "#/definitions/OrderItem"
      recurring:
        type: "boolean"
      refund_total:
        type: "number"
        format: "double"
      sales_affiliate_id:
        type: "integer"
        format: "int64"
      shipping_information:
        $ref: "#/definitions/ShippingInformation"
      status:
        type: "string"
      title:
        type: "string"
      total:
        type: "number"
        format: "double"
      total_due:
        type: "number"
        format: "double"
      total_paid:
        type: "number"
        format: "double"
    example:
      total_due: 1.489415909854170383397331534069962799549102783203125
      recurring: true
      sales_affiliate_id: 7
      creation_date: "creation_date"
      title: "title"
      order_date: "order_date"
      total: 1.024645700144157789424070870154537260532379150390625
      shipping_information:
        zip: "zip"
        country: "country"
        city: "city"
        phone: "phone"
        last_name: "last_name"
        company: "company"
        street1: "street1"
        id: 1
        state: "state"
        street2: "street2"
        middle_name: "middle_name"
        first_name: "first_name"
      lead_affiliate_id: 5
      total_paid: 6.8468526983526398765889098285697400569915771484375
      contact:
        company_name: "company_name"
        last_name: "last_name"
        id: 6
        first_name: "first_name"
        job_title: "job_title"
        email: "email"
      modification_date: "modification_date"
      id: 1
      refund_total: 4.1456080298839363962315474054776132106781005859375
      order_items:
      - product:
          shippable: true
          taxable: true
          name: "name"
          description: "description"
          id: 3
          sku: "sku"
        cost: 5.63737665663332876420099637471139430999755859375
        notes: "notes"
        quantity: 2
        price: 9.301444243932575517419536481611430644989013671875
        name: "name"
        description: "description"
        discount: 2.3021358869347654518833223846741020679473876953125
        id: 7
        type: "type"
      - product:
          shippable: true
          taxable: true
          name: "name"
          description: "description"
          id: 3
          sku: "sku"
        cost: 5.63737665663332876420099637471139430999755859375
        notes: "notes"
        quantity: 2
        price: 9.301444243932575517419536481611430644989013671875
        name: "name"
        description: "description"
        discount: 2.3021358869347654518833223846741020679473876953125
        id: 7
        type: "type"
      status: "status"
  Sequence:
    type: "object"
    properties:
      active_contact_count:
        type: "integer"
        format: "int32"
      active_contact_count_completed:
        type: "integer"
        format: "int32"
      historical_contact_count:
        $ref: "#/definitions/HistoricalCounts"
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      paths:
        type: "array"
        items:
          $ref: "#/definitions/SequencePath"
    example:
      active_contact_count_completed: 2
      historical_contact_count:
        30_days: 5
        24_hours: 1
      paths:
      - id: 7
        items:
        - name: "name"
          next_item_id: 1
          id: 1
          previous_item_id: 1
          type: "NULL"
        - name: "name"
          next_item_id: 1
          id: 1
          previous_item_id: 1
          type: "NULL"
      - id: 7
        items:
        - name: "name"
          next_item_id: 1
          id: 1
          previous_item_id: 1
          type: "NULL"
        - name: "name"
          next_item_id: 1
          id: 1
          previous_item_id: 1
          type: "NULL"
      name: "name"
      active_contact_count: 3
      id: 4
  TransactionList:
    type: "object"
    properties:
      count:
        type: "integer"
        format: "int32"
      next:
        type: "string"
      previous:
        type: "string"
      transactions:
        type: "array"
        items:
          $ref: "#/definitions/Transaction"
    example:
      next: "next"
      previous: "previous"
      count: 0
      transactions:
      - transaction_date: "transaction_date"
        amount: 6.02745618307040320615897144307382404804229736328125
        gateway_account_name: "gateway_account_name"
        test: true
        order_ids: "order_ids"
        contact_id: 1
        type: "type"
        collection_method: "collection_method"
        currency: "currency"
        orders:
        - total_due: 1.489415909854170383397331534069962799549102783203125
          recurring: true
          sales_affiliate_id: 7
          creation_date: "creation_date"
          title: "title"
          order_date: "order_date"
          total: 1.024645700144157789424070870154537260532379150390625
          shipping_information:
            zip: "zip"
            country: "country"
            city: "city"
            phone: "phone"
            last_name: "last_name"
            company: "company"
            street1: "street1"
            id: 1
            state: "state"
            street2: "street2"
            middle_name: "middle_name"
            first_name: "first_name"
          lead_affiliate_id: 5
          total_paid: 6.8468526983526398765889098285697400569915771484375
          contact:
            company_name: "company_name"
            last_name: "last_name"
            id: 6
            first_name: "first_name"
            job_title: "job_title"
            email: "email"
          modification_date: "modification_date"
          id: 1
          refund_total: 4.1456080298839363962315474054776132106781005859375
          order_items:
          - product:
              shippable: true
              taxable: true
              name: "name"
              description: "description"
              id: 3
              sku: "sku"
            cost: 5.63737665663332876420099637471139430999755859375
            notes: "notes"
            quantity: 2
            price: 9.301444243932575517419536481611430644989013671875
            name: "name"
            description: "description"
            discount: 2.3021358869347654518833223846741020679473876953125
            id: 7
            type: "type"
          - product:
              shippable: true
              taxable: true
              name: "name"
              description: "description"
              id: 3
              sku: "sku"
            cost: 5.63737665663332876420099637471139430999755859375
            notes: "notes"
            quantity: 2
            price: 9.301444243932575517419536481611430644989013671875
            name: "name"
            description: "description"
            discount: 2.3021358869347654518833223846741020679473876953125
            id: 7
            type: "type"
          status: "status"
        - total_due: 1.489415909854170383397331534069962799549102783203125
          recurring: true
          sales_affiliate_id: 7
          creation_date: "creation_date"
          title: "title"
          order_date: "order_date"
          total: 1.024645700144157789424070870154537260532379150390625
          shipping_information:
[...]
